/* to make the footer stick to the bottom */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1 0 auto;
}

/* custom styles */

header h1, header p {
    text-shadow: 4px 4px 6px rgba(52, 58, 64, 1);
}


input {
    width: 100%;
}

.jumbotron {
    background-blend-mode: multiply;
   background: linear-gradient(328deg, rgba(52,58,64,1) 0%, rgba(0,123,255,1) 100%);
    background-image: url(./assets/Untitled\ design\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: 	hsla(211, 100%, 50%, 30%);
}